body, div, a, ul, ol, li, section, header, span, img, button, p, h1,h2,h3,h4,h5,h6, strong{
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
}
ul,ol{
    list-style-type: none;
}
a:link,a:visited,a:hover{
    text-decoration: none;
    color: #222;
}
img,button{
    border: none;
    vertical-align: middle;
}
#wrapper{
    width: 100%;
    position: relative;
}
.wrap{
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
#skipMenu{position: relative; width: 100%;}
#skipMenu a{position: absolute;top: -100px;}
#skipMenu a:hover,#skipMenu a:active,#skipMenu a:focus{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #222;
    color: #fff;
    text-decoration: underline;
    padding: 10px 0;}